body {
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    background: linear-gradient(to right, rgb(3, 13, 65), rgb(23, 23, 148));
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: linear-gradient(to left, rgb(20, 20, 121), rgb(6, 6, 54));
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 1px 1px 2px black;
    opacity: 0.8;
    border-bottom: 1px solid rgb(51, 49, 49);
    margin-bottom: 2vh;
    direction: ltr;
}

.logo {
    font-weight: bold;
    font-family: 'Verdana', sans-serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); 
    letter-spacing: 1.5px;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(231, 231, 250));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    direction: ltr;
}

.language-select {
    background-color: rgb(240, 232, 232);
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: rgb(22, 20, 20);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    direction: ltr;
}

.heads-up {
    position: fixed;
    background: linear-gradient(to bottom right, #d3f5cf, #b3c9ba);
    border-radius: 25px;
    display: block;
    max-width: 400px;
    height: fit-content;
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 14px;
    margin-top: 2vh;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: rgb(54, 48, 48);
    font-family: 'Arial', sans-serif;
}

.hide-toggle {
    display: none;
}

.got-it-button {
    background: #FFAA33;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    color: rgb(39, 37, 37);
    width: fit-content;
    margin: auto;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.got-it-button:hover {
    background: #FFCC44;
}

.hide-toggle:checked+.heads-up {
    display: none;
}

footer {
    width: 100%;
    position: absolute;
    padding: 10px 20px;
    background-color: rgba(15, 15, 92, 0.5);
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgb(51, 49, 49);
    color: rgb(133, 129, 129);
    font-family: 'Georgia', serif;
    text-align: center;
    z-index: 999;
}