@media screen and (min-width: 320px) {
    .logo {
        font-size: 21px;
    }

    .meme-container,
    .meme-display,
    .meme-edit-options {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 94%;
        justify-content: center;
        position: relative;
    }

    canvas {
        width: 300px;
        height: 400px;
    }

    .gallery-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery-section img {
        max-width: 275px;
        max-height: 275px;
    }
}

@media screen and (min-width: 400px) {
    canvas {
        width: 350px;
        height: 400px;
    }

    .meme-edit-options {
        width: 80%;
    }

    .meme-edit-options::before,
    .meme-edit-options::after {
        content: "";
        position: absolute;
        height: 101%;
        width: 10%;
        background-color: #110733;
        border-radius: 10px;
    }

    .meme-edit-options::before {
        left: 0;
    }

    .meme-edit-options::after {
        right: 0;
    }
}

@media screen and (min-width: 500px) {
    .logo {
        font-size: 25px;
    }

    canvas {
        width: 400px;
        height: 400px;
    }

    .meme-edit-options {
        width: 75%;
    }

    .meme-edit-options::before,
    .meme-edit-options::after {
        content: "";
        position: absolute;
        height: 101%;
        width: 12%;
        background-color: #110733;
        border-radius: 10px;
    }

    .gallery-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-section img {
        max-width: 230px;
        max-height: 230px;
    }
}

@media screen and (min-width: 735px) {
    .logo {
        font-size: 30px;
    }

    .meme-container {
        flex-direction: row;
        width: fit-content;
    }

    .meme-edit-options {
        width: 100%;
        padding: 5px;
    }

    .meme-edit-options::before,
    .meme-edit-options::after {
        display: none;
    }

    .gallery-section img {
        max-width: 275px;
        max-height: 275px;
    }
}

@media screen and (min-width: 900px) {
    .gallery-section {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .gallery-section {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1500px) {
    .gallery-section {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 1800px) {
    .gallery-section {
        grid-template-columns: repeat(6, 1fr);
    }
}