body {
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    display: flex;
    margin: auto;
    width: 100%;
    padding: 1px;
    background-color: rgb(11, 11, 43);
    color: white;
    height: 70px;
    justify-content: center;
    align-items: center;
    margin-top: -1vh;
    margin-bottom: 2vh;
}

h1 {
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.meme-container {
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    background-color: rgb(0, 103, 194);
    width: fit-content;
    padding: 25px;
    border: 2px dotted black;
    border-radius: 10px;
}

.meme-edit-options {
    background-color: rgb(53, 53, 228);
    display: flex;
    max-width: 100%;
    padding: 10px;
}

.meme-display {
    display: flex;
    max-width: 100%;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}

.text-input {
    grid-column: 1 / span 4;
}

.one-col {
    grid-column: span 1;
}

.two-col {
    grid-column: span 2;
}

.sub-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-column: 1 / span 4;
    justify-items: center;
    align-items: center;
}

#fontSelect {
    width: 90%;
    height: 30px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10px;
}

#uploadFile {
    cursor: pointer;
    width: 135px;
    grid-column: 1 / span 3;
}

canvas {
    background-color: white;
    border: 5px solid rgb(100, 63, 63);
    border-radius: 5px;
}

button {
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.download-btn {
    width: fit-content;
    font-size: 15px;
}

.share-btn {
    width: fit-content;
}

#userColor {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: white;
    border: 2px solid black;
    padding: 0;
    border-radius: 3px;
}

.modal-wrapper{
    display: none;
}

.text-input-modal {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: azure;
    width: fit-content;
    height: 100px;
    gap: 10px;
    padding: 10px;
    justify-items: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-input-modal button {
    width: fit-content;
}

#userText {
    height: 25px;
    grid-column: 1 / -1;
    grid-row: 1;
    width: 100%;
}

.close-btn {
    grid-row: 2;
    grid-column: 1 / 2;
}

.submit-btn {
    grid-row: 2;
    grid-column: 3 / 4;
}

.gallery-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin-bottom: 1vh;
}

.gallery-section img {
    max-width: 275px;
    max-height: 275px;
    object-fit: contain;
    cursor: pointer;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 5px;
    background-color: antiquewhite;
}